{% extends 'base.html' %}
{% block title %}
    To-Do List | Homepage!
{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <h1 class="mb-3">Hello, world! Homepage</h1>
    <table class="table  table-bordered">
        <thead class="table-dark ">
        <td>Item</td>
        <td class="text-center">
            Complete
        </td>
        <td class="text-center"></td>
        </thead>
        <tbody>
        {% for thing in things %}
            {% if thing.completed %}


                <tr class="table-secondary">
                    <td>
                        <del> {{ thing.item }} </del>
                    </td>
                    <td class="text-center">
                        <a href="{% url 'uncross' thing.id%}">UnCross</a>
                    </td>
                    <td class="text-center"><a href="{% url 'delete' thing.id %}">Delete</a></td>

                </tr>
            {% else %}
                <tr class="">
                    <td>{{ thing.item }}</td>
                    <td class="text-center">
                        <a href="{% url 'cross_off' thing.id %}">Cross</a>
                    </td>
                    <td class="text-center"><a href="{% url 'delete' thing.id %}">Delete</a></td>

                </tr>
            {% endif %}
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
